body
    form(action="/register", method="post")
        p username
        input(type="text", name="username")
        p password
        input(type="password", name="password")
        button(type="submit") register